@keyframes onScreenSlide {
  0% {
    left: -16em;
  }
  100% {
    left: 0em;
  }
}

@keyframes offScreenSlide {
  0% {
    left: 0em;
  }
  100% {
    left: -16em;
  }
}

.onScreen {
  animation: onScreenSlide 2s;
}

.offScreen {
  animation: offScreenSlide 2s;
}

#settingsForm {
  position: relative;
  background-color: beige;
  border: 1px solid black;
  width: 15em;
  left : -16em;
  z-index: 1;
}

#settingsForm div {
  display: inline;
  border: 1px solid green;
  width: 10em;
}
