:root { 
   --buttonFinishTop: 65px;
   --hideRightPosition: -250px;
}

@keyframes onScreenSlide {
  0%   { right: var(--hideRightPosition); }
  100% { right: 0px; }
}

@keyframes offScreenSlide {
  0%   { right: 0px; }
  100% { right: var(--hideRightPosition); }
}

@keyframes buttonDownSlide {
  0%   { top: 0px; }
  100% { top: var(--buttonFinishTop); }
}

@keyframes buttonUpSlide {
  0%   { top: var(--buttonFinishTop); }
  100% { top: 0px; }
}

.onScreen {
  animation: onScreenSlide 2s;
}

.offScreen {
  animation: offScreenSlide 2s;
}

.buttonDown {
  animation: buttonDownSlide 2s;
}
.buttonUp {
  animation: buttonUpSlide 2s;
}

#openSettings {
    position: absolute;
    width:  9em;
    right:  0em;
    z-index: 200;
}

#settingsForm {
  position: absolute;
  background-color: beige;
  border: 1px solid black;
  width: 13em;
  right : var(--hideRightPosition);
  z-index: 1;
}

#settingsForm div div {
  display: inline;
  border: 1px solid green;
}
