@keyframes onScreenSlide {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}

@keyframes offScreenSlide {
  0% {
    left: 0px;
  }
  100% {
    left: -500px;
  }
}

.initialPlace {
    left: -500px;
  }
  
.onScreen {
  animation: onScreenSlide 2s;
}

.offScreen {
  animation: offScreenSlide 2s;
}

#menuToggle {
  position: relative;
  background-color: beige;
  border: 1px solid black;
  width: 15em;
  z-index: 1;
}

#menuToggle div {
  display: inline;
  border: 1px solid green;
  width: 10em;
}

