<html>
	<head>
		<title>JavaScript Star Trek Game</title>
		<link rel='stylesheet' type='text/css' media='screen, projection' href='https://fonts.googleapis.com/css?family=Play' /> 
		<link rel='stylesheet' type='text/css' media='screen, projection' href='css/main.css' />
		<link rel='stylesheet' type='text/css' media='screen, projection' href='css/settingsMenu.css' />
	</head>

<body>
<header>
    <!-- <div class='titleBar'>Javascript Star Trek</div> -->
    <div class='controlsBar'></div>
</header>

    <nav role="navigation">
      <div id="menuToggle" class='initialPlace'>

        <label for='logAppend'>Append To Log</label>
        <input type='checkbox' id='logAppend' />
        <br />

        <label for='playMode'>Play Mode</label>
        <div>
          <label for='fastMode'>Fast</label>
          <input type='radio' name='playMode' id='fastMode' />
          <label for='slowMode'>Slow</label>
          <input type='radio' name='playMode' id='slowMode' />
        </div>
        <br />

        <label for='priority'>Priority</label>
        <input type='input' id='priority' size=1 />

      </div>
    </nav>

    <button type='button' id='openSettings'>
      Open
    </button>
<div class='leftDisplay'>
	<table id='spaceDisplay' class='mainDisplay'>
	   <thead> </thead>
	   <tbody> 
        <tr v-if = "rows!=null" v-for="row in rows">
         <td v-for="col in row.cols">
         {{col.display}}
      </td>
    </tr>
      </tbody>
	   <tfoot> </tfoot>
	</table>
</div> <!-- leftDisplay -->

<div class='messageDisplay'>
</div> <!-- messageDisplay -->

<footer>
    <div class='statusBar'></div>
    <div class='docsBar'></div>
</footer>

    <script type='text/javascript' src='js/vue.js'></script>
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/trek_H.js'></script>
    <script type='text/javascript' src='js/dataTypes.js'></script>
    <script type='text/javascript' src='js/utilities.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
</body>
</html>
